<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Products</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/Capsules.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Capsules.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Capsules</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Quality Vitamins And Supplements to Support a Variety Of Health Issues And Goals.
                            Best online pharmacy with a wide range of Prescription and OTC medicines to ensure good health to our body.Organic capsules, Empty HPMC, Hard HPMC capsules and has almost all kind of capsules</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/baby.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/baby.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Baby products</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Shop for your little munchkin from our online store. Choose from popular brands like MamyPoko, Huggies, Pampers, Himalaya, Johnson, MeeMee, Mothercare, Chicco.Up to 35% Off on Baby Products. Shop for Diapers, Strollers, Feeders. Buy Now! Easy & Fast Delivery. Huge Selection. No Cost EMI Available. Low Prices..</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/Cream.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Cream.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Skin Care Products</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Our  skin care products are made by using traditional expertise with herbs that are handpicked only at a certain time of the day, when they are in their most potent state. Enriched with flowers oils, herb-infused waters and organically grown fruits and vegetables, our natural skincare products for glowing skin..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/Syrup.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Syrup.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Syrup</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Buy our home made best natural syrup online, crushes and squash. Every flavour is a unique blend of aroma and taste. It relieves allergy symptoms such as runny nose, stuffy nose, sneezing, watery eyes, and congestion or stuffiness. It also thins the mucus in the nose, windpipe, and lungs, making it easier to cough out.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Best
                        <br />
                        Quality
                        <br />
                        Products
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>