.mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    background-color: #276085;
  }
  
    mat-form-field{
        padding: 5px;
    }

    mat-hint{
      color: red;
    }
  